<div class="container">  
  <h1>Editing Picture</h1>

  <%= render 'form' %>

  <%= link_to 'Delete', "places/#{@place.id}/pictures/#{@picture.id}", method: :delete, class: "btn btn-danger", confirm: "Are you sure?" %> |
  <%= link_to 'Show', place_picture_path(@picture.place_id, @picture.id) %> |
  <%= link_to 'Back', place_path(@place.id) %>
</div>